absl-py==0.8.1
aiofiles==0.4.0
aiohttp==3.5.4
alabaster==0.7.12
albumentations==0.3.0
alembic==1.0.11
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.9.7
annoy==1.15.1
anyconfig==0.9.10
aocr==0.7.6
appdirs==1.4.3
APScheduler==3.6.0
args==0.1.0
arxiv==0.5.3
asn1crypto==1.2.0
aspy.yaml==1.3.0
astor==0.7.1
astroid==2.2.5
astropy==3.1.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
audioread==2.1.8
Automat==0.7.0
autosub==0.3.12
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
base58==2.0.0
beautifulsoup4==4.7.1
bert-embedding==1.0.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
blinker==1.4
blis==0.2.4
bokeh==1.0.4
boto==2.49.0
boto3==1.9.182
botocore==1.16.6
Bottleneck==1.2.1
bz2file==0.98
cachetools==4.1.0
cairocffi==1.1.0
certifi==2019.11.28
cffi==1.13.2
cfgv==2.0.1
chardet==3.0.4
ChatterBot==0.3.6
Click==7.0
clint==0.5.1
cloudpickle==0.6.1
clyent==1.2.2
colorama==0.4.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
constantly==15.1.0
contextlib2==0.5.5
cookies==2.2.1
CouchDB==1.0
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
decorator==4.4.0
deepspeech==0.6.0
defusedxml==0.5.0
Deprecated==1.2.6
detectron2==0.1.2+cu101
dicttoxml==1.7.4
dill==0.2.9
Distance==0.1.3
distributed==1.26.0
Django==2.1
django-cors-headers==2.4.0
djangorestframework==3.8.2
dnspython==1.16.0
docopt==0.6.2
docutils==0.14
dopamine-rl==2.0.5
drfapikey==0.0.3
easydict==1.9
editdistance==0.5.3
efficientnet==1.0.0
elementpath==1.3.1
emoji==0.5.3
entrypoints==0.3
enum-compat==0.0.3
enum34==1.1.6
essential-generators==0.9.2
et-xmlfile==1.0.1
eventlet==0.17.4
face-alignment==1.0.0
fairseq==0.9.0
fakeredis==1.2.0
falcon==1.2.0
fastBPE==0.1.0
fastcache==1.0.2
fastdtw==0.3.2
fasttext==0.9.1
fbmessenger==6.0.0
feedparser==5.2.1
ffmpeg-python==0.2.0
filelock==3.0.10
Flask==1.1.1
Flask-Admin==1.5.0
Flask-Cors==3.0.8
Flask-HTTPAuth==3.3.0
Flask-JWT-Simple==0.0.3
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-Session==0.3.1
Flask-SocketIO==4.1.0
Flask-SQLAlchemy==2.2
fonttools==4.2.2
freeze==1.0.10
future==0.18.2
fuzzywuzzy==0.10.0
fvcore==0.1.dev200506
gast==0.2.2
gensim==3.7.3
geojson==2.4.1
gevent==1.4.0
gevent-websocket==0.10.1
gin-config==0.2.1
gitdb2==2.0.6
GitPython==3.0.5
glob2==0.6
gluonnlp==0.6.0
google-api-core==1.14.0
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-speech==1.1.0
google-pasta==0.2.0
googleapis-common-protos==1.6.0
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.14.1
gunicorn==18.0
gym==0.15.4
h11==0.8.1
h2==3.1.1
h5py==2.10.0
heapdict==1.0.0
hpack==3.0.0
hstspreload==2020.2.5
html5lib==1.0.1
httpcore==0.3.0
httplib2==0.14.0
httptools==0.0.13
httpx==0.9.3
hug==2.5.3
humanfriendly==4.18
hyperframe==5.2.0
hyperlink==19.0.0
identify==1.4.7
idna==2.8
imageai==2.1.5
imageio==2.5.0
imagesize==1.1.0
imgaug==0.2.6
importlib-metadata==1.2.0
imutils==0.5.3
incremental==17.5.0
inflect==0.2.5
inflection==0.3.1
ipcalc==1.1.3
ipykernel==5.2.1
ipython==7.10.2
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
isort==4.3.16
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
jeepney==0.4
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.13.2
jsondatabase==0.1.1
jsonpickle==1.2
jsonref==0.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kafka-python==1.4.6
Keras==2.2.4
Keras-Applications==1.0.8
keras-ocr==0.6.3
Keras-Preprocessing==1.1.0
keras-resnet==0.2.0
keras-self-attention==0.42.0
keyring==18.0.0
kfac==0.2.0
kiwisolver==1.0.1
klein==17.10.0
languageflow==1.1.13a1
lazy-object-proxy==1.3.1
libarchive-c==2.8
librosa==0.6.3
lief==0.9.0
lightgbm==2.2.3
llvmlite==0.28.0
lmdb==0.98
locket==0.2.0
lxml==4.2.4
Mako==1.0.13
Markdown==3.0.1
markdown2==2.3.8
MarkupSafe==1.1.1
matplotlib==3.1.3
mattermostwrapper==2.1
mccabe==0.6.1
mesh-tensorflow==0.1.7
mistune==0.8.4
mixpanel==4.4.0
mock==2.0.0
more-itertools==6.0.0
mpmath==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multidict==4.6.1
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.2
natsort==7.0.1
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.4
nltk==3.4.5
nnmnkwii==0.0.19
nodeenv==1.3.3
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numexpr==2.6.9
numpy==1.18.4
numpydoc==0.8.0
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==4.0.0.21
opencv-python==4.1.2.30
opencv-python-headless==4.1.0.25
openpyxl==2.6.1
opt-einsum==3.1.0
packaging==19.2
pandas==0.24.2
pandocfilters==1.4.2
parsel==1.5.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
pathtools==0.1.2
patsy==0.5.1
pbkdf2==1.3
pbr==5.1.3
pdf2image==1.10.0
pdfminer.six==20181108
pdftotext==2.1.2
pep517==0.5.0
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pika==1.0.1
Pillow==7.1.2
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.13.0
ply==3.11
portalocker==1.7.0
pre-commit==1.18.3
preshed==2.0.1
progressbar==2.5
prometheus-client==0.6.0
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.11.2
psutil==5.6.1
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
PyAudio==0.2.11
pybind11==2.4.3
pyclipper==1.1.0.post3
pycocotools==2.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.8.2
pydeck==0.3.1
PyDispatcher==2.0.5
pydot==1.4.1
pydub==0.23.1
pyflakes==2.1.1
pyglet==1.3.2
Pygments==2.3.1
pygraphviz==1.5
PyHamcrest==1.9.0
PyJWT==1.7.1
pykwalify==1.7.0
pylint==2.3.1
pymongo==3.8.0
pynput==1.6.6
pyodbc==4.0.26
pyOpenSSL==19.1.0
pyowm==2.10.0
pyparsing==2.3.1
PyPDF2==1.26.0
pypng==0.0.20
PyQt5==5.10.1
pyrouge==0.1.3
pyrsistent==0.14.11
PySocks==1.7.1
pyspellchecker==0.5.4
pysptk==0.1.17
pysrt==1.1.2
pytesseract==0.3.0
pytest==4.3.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-dotenv==0.10.1
python-editor==1.0.4
python-engineio==3.11.0
python-for-android==2019.7.8
python-forecastio==1.3.4
python-mimeparse==1.6.0
python-socketio==4.4.0
python-telegram-bot==11.1.0
python-twitter==3.0rc1
python-vlc==3.0.6109
python-xlib==0.26
pytoml==0.1.20
pytorch-pretrained-bert==0.4.0
pytz==2019.3
pyvi==0.0.9.7
PyWavelets==1.0.2
pyworld==0.2.8
pyzmq==18.0.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
questionary==1.1.1
queuelib==1.5.0
ra==0.2.0
ramlfications==0.1.8
rarfile==3.1
rdflib==4.2.2
redis==3.3.11
regex==2018.1.10
requests==2.22.0
requests-async==0.5.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.1
responses==0.5.1
rfc3986==1.3.2
rocketchat-API==0.6.32
rope==0.12.0
rsa==4.0
ruamel-yaml==0.15.46
s3transfer==0.2.1
sacrebleu==1.4.9
sacremoses==0.0.43
sanic==19.9.0
Sanic-Cors==0.9.9.post1
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.8.2
scikit-image==0.14.2
scikit-learn==0.20.3
scikit-video==1.1.11
scipy==1.4.1
Scrapy==1.7.3
seaborn==0.9.0
SecretStorage==3.1.1
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.86
service-identity==18.1.0
setuptools-scm==3.4.3
sh==1.12.14
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
sip==4.19.8
six==1.13.0
sklearn==0.0
sklearn-crfsuite==0.3.6
slackclient==1.3.2
smart-open==1.8.4
smmap2==2.0.5
sniffio==1.1.0
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
SPARQLWrapper==1.8.4
SpeechRecognition==3.8.1
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.1
srsly==0.1.0
statsmodels==0.9.0
stego-lsb==1.3
streamlit==0.59.0
sudoku-solver==0.2
sympy==1.3
tables==3.5.1
tabulate==0.8.3
tblib==1.3.2
tensor2tensor==1.14.1
tensorboard==1.15.0
tensorboard-plugin-wit==1.6.0.post3
tensorboardX==1.8
tensorflow==1.15.0
tensorflow-cpu==1.15.0
tensorflow-datasets==1.3.2
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-hub==0.7.0
tensorflow-metadata==0.15.1
tensorflow-model-optimization==0.2.1
tensorflow-probability==0.7.0
tensorflow-serving-api==1.13.0
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
textblob==0.11.1
thinc==7.0.8
timeout-decorator==0.4.1
tokenizers==0.5.2
toml==0.10.0
toolz==0.9.0
tornado==5.1.1
tox==3.14.0
tqdm==4.31.1
traitlets==4.3.2
translate==3.5.0
twilio==6.29.0
Twisted==19.7.0
typing==3.6.6
tzlocal==1.5.1
ujson==1.35
unicodecsv==0.14.1
unpyclib==0.8.1
unrar==0.4
uritemplate==3.0.0
urllib3==1.24.2
uuid==1.30
uvloop==0.12.2
validators==0.14.1
video-kf==0.0.3
virtualenv==16.6.2
w3lib==1.21.0
waitress==1.3.1
wasabi==0.2.2
watchdog==0.10.2
wcwidth==0.1.7
webencodings==0.5.1
webexteamssdk==1.1.1
WebOb==1.8.5
websocket-client==0.54.0
websockets==8.1
WebTest==2.0.33
weighted-levenshtein==0.2.1
Werkzeug==0.15.1
wget==3.2
widgetsnbextension==3.4.2
wrapt==1.11.2
WSGIProxy2==0.4.6
WTForms==2.2.1
wurlitzer==1.0.2
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.1.5
xlwt==1.3.0
xmltodict==0.12.0
yacs==0.1.7
yarl==1.3.0
youtube-dl==2019.5.20
zict==0.1.4
zipp==0.6.0
zope.interface==4.6.0
